<!doctype html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <% include partials/header.ejs %>
        <div id="fish-image-single" style="background-image: url('/images/<%= fish.fish_image %>')">
            <h1 id="fish-title">
                <%= title %>
            </h1>
        </div>

        <div class="content-padding clearfix">
            <div class="poster-wrapper">
                <img src="/images/<%=fish.poster%>" class="img-responsive">
            </div>

            <div class="description-wrapper">
                <div class="description">
                    <h2 class="movie-header">Description</h2>
                    <p><%= fish.description %></p>
                </div>

                <div class="main-characters">
                    <h2 class="movie-header">Main species </h2>
                    <ul>
                        <% for(var i = 0; i< main_characters.length; i++) { %>
                            <li><%= main_characters[i]  %></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>

        <% include partials/footer.ejs %>
        <% include partials/scripts.ejs %>
</body>

</html>